body, html {
    height: 100%;
    margin: 0%;
}
.parallax {
    background-image: url("../img/background.png");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}
nav {
    overflow: hidden;
    background-color: burlywood;
    width: 100%;
    top: 0px;
    height: 100px;
    position:fixed;
    padding-bottom: 10px black;
    z-index: 1;

}

nav a {
    color: bisque;
    text-align: center;
    text-decoration: none;
    /* display:block; */

}

.navItems li{
    list-style-type: none;
    float: right;
    vertical-align: middle;

}
#logo {
    width: 25%;
    vertical-align: middle;
}
#logoImage {
    height:100%;
    width:90px;
    float: left;
    bottom: 10px;
    
}
#bunBunLogo {
    top:0px;
    width: 80%;
}
#logoTitle {
    float:left;
    padding-top:10px;
}
#logoTitle a {
    font-family: Mansalva;
    bottom: 50px;
    font-size: 40px;
}
.navItem {
    padding-top:17px;
}
.navItem a {
    padding: 12px;
    font-size: 30px;
    font-family: Mansalva;
    bottom: 10px;
}
body {
    text-align: center;
}
#about {
    display: inline-block;
    width: 600px;
    padding: 0 auto;
    background-color: bisque;
    margin-top: 150px;
    border-radius: 20px;

    padding:10px;
    font-family: nunito;


    /* margin: 100 auto; */
}
#about h1 {
    font-family: Mansalva;
}
#about > p {
    display:inline;
    /* widows: 60%; */
    clear:left;
}
#about > img {
    width:40%;
    height: auto;
    clear:right; 
}
.cater {
    margin:20px;
    text-align: center;
}
.cater > img {
    margin:10px;
    bottom: 0px;
}
.cater > a {
    
}
#orderNow {
    background-color:burlywood;
    width: 20%;
    margin: auto;
    border-radius: 10px;

}
#orderNow > a {
    text-decoration:none;
    color: brown;
}

#catering {
    display: inline-block;
    width: 600px;
    background-color: bisque;
    margin-top: 350px;
    border-radius: 20px;

    padding:10px;
    font-family: nunito;
    margin-top:150px;
    /* margin: 100 auto; */
}

#catering h1 {
    font-family: Mansalva;
}
#locations {
    display: inline-block;
    width: 600px;
    background-color: bisque;
    margin-top: 350px;
    border-radius: 20px;

    padding:10px;
    font-family: nunito;
    margin-top:150px;
}
#locations h1 {
    font-family: Mansalva;
}
#order {
    /* display: inline-block; */
    position: absolute;
    margin: 0px 30px;
    top: 175px;
    left: 120px;
    width: 80%;
    height: 80%;
}
#contact {
    display: inline-block;
    width: 600px;
    background-color: bisque;
    margin-top: 350px;
    border-radius: 20px;

    padding:10px;
    font-family: nunito;
    margin-top:150px;
}
#contact h1 {
    font-family: Mansalva;
}
#rolls, #icings, #quantity {
    font-family:nunito;
}
#rolls {
    /* margin-left: 80px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 62%;
    background-color: bisque;
    border-radius: 20px;
    padding: 20px;
    width:45%;
    grid-gap: 20px;
    align-items: center;
    padding-bottom: 30px;
    color: brown;

}

#icings {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    width:30%;
    background-color: bisque;
    border-radius: 20px;
    padding: 20px;
    grid-gap: 20px;

    left: 525px;
    height:62%;
    top: 0px;
    padding-bottom: 30px;
    color:brown;

}
#quantity {
    text-align: center;
    position: absolute;
    background-color: bisque;
    border-radius: 20px;
    left: 700px;
    width: 175px;
    height:40px;
    bottom: 100px;
    color:brown;
}
#quantity select {
    position: absolute;
    /* float: left; */
    top:10px;
    left: 20px;

}
#addToCart {
    position: absolute;
    top: 10px;
    left: 70px;
}

.option {
    display:grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-gap: 20px;

}
.selected {
    opacity: 1;
    transition: opacity 1s, background 1s;
    background: rgb(199, 109, 109);
}
#description {
    position: absolute;
    margin: 0px 30px;
    top: 175px;
    left: 120px;
    width: 80%;
    height: 70%;
    background: burlywood;
    border-radius: 20px;
    font-family: Mansalva;
}
#description >p {
    position:absolute;
    width:40%;
    left:500px;
    text-align: left;
    font-family: Nunito;
    
}
#description > img {
    position:absolute;
    width:40%;
    left:50px;
    border-radius: 20px;
}

#detailIcings {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    width:15%;
    background-color: bisque;
    border-radius: 20px;
    padding: 20px;
    grid-gap: 20px;

    left: 500px;
    height:30%;
    top: 200px;
    padding-bottom: 30px;
    color:brown;

}
#detailIcings > .icing >img {
    width: 60%;
}

#detailIcings + #quantity {
    top: 355px;
}